:root {
	--dark-color: #2e3140;
	--light-color: #ffffff;
}

@font-face {
	font-family: 'SitelenPona';
	src: url('fonts/linja-pona-4.9.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.sitelen {
	font-family: 'SitelenPona', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	color: var(--dark-color);
	background: var(--light-color);

	display: flex;
	flex-direction: column;
	height: 100vh;
}

.myname {
	color: var(--dark-color);	
	text-decoration:none;
}

/* --- Contact Form --- */
.contact-form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

input[type=text], input[type=email] {
	width: 100%;
	padding: 12px;
	border: 1px solid;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

/* --- Top bar --- */
.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 1.5rem;
	padding-right: 3rem;
	border-bottom: 2px solid var(--dark-color);
}

.icons-div {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.icon {
	margin: 10%;
}

/* --- Main layout --- */
.container {
	flex: 1;
	display: flex;
	gap: 1.5rem;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

/* --- Sidebar --- */
.sidebar {
	padding: 1rem;

	border: 2px solid var(--dark-color);
	border-radius: 5px;

	align-self: center;
	position: sticky;
	top: 5rem;
}

.sidebar-hr {
    border: none;
    height: 2px;
    background-color: var(--dark-color);
    width: 100%;
    margin: 20px auto;
}

/* --- Nav links --- */
nav {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* --- Content area --- */
main {
	flex: 1;
	padding: 1rem;
	overflow-y: auto;
	border: 2px solid var(--dark-color);
	border-radius: 5px;
}

#content pre {
	overflow-x: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
}

/* --- Mobile --- */
#menu-toggle {
	display: none;
	margin: 20%;
}

@media (max-width: 700px) {
	body {
		overflow: hidden;
	}

	.sidebar,
	main {
		display: none;
	}

	body.menu-open .sidebar {
		display: block;
	}

	body:not(.menu-open) main {
		display: block;
	}
	.container {
		flex-direction: column;
	}

	.sidebar {
		display: none;
		width: 100%;
		align-self: stretch;
		position: static;
	}

	#menu-toggle {
		display: block;
	}
}

